TOKEN=your_discord_bot_token
CLIENT_ID=your_application_id
GUILD_ID=your_guild_id
SEPARATOR_PATH=./separator.png
TARGET_CHANNEL_1=
TARGET_CHANNEL_2=
SCHEDULE_CHANNELS=
SCHEDULE_ANNOUNCE_CHANNEL=
REQUIRED_ROLE_ID=
OPTIONAL_ROLE_ID=
